In [65]:
import pandas as pd
import numpy as np
import ast
pd.set_option('display.max_rows', None)

In [81]:
df = pd.read_excel('skill_data.xlsx')

In [82]:
web_devloper_skills = [
    'django',
    'html',
    'css',
    'nodejs',
    'reactjs',
    'nodejs',
    'flask',
    'laravel'
]

machine_learning_skills = [
    'nosql',
    'pandas',
    'numpy',
    'matpotlib',
    'seabron',
    'scipy'
]

In [83]:
df.head()

               Name                                            Skills
0    Maurice Valdez  ['reactjs', 'django', 'numpy', 'nodejs', 'html']
1      Samuel Green                     ['laravel', 'css', 'laravel']
2   Michael Rodgers   ['css', 'reactjs', 'flask', 'nodejs', 'nodejs']
3     Lindsey Leach             ['nodejs', 'html', 'html', 'reactjs']
4  Kimberly Hartman                            ['matpotlib', 'nosql']

In [84]:
df.isnull().sum()

Name      0
Skills    0
dtype: int64

In [85]:
row = 0
for skills in df.Skills:
  li = ast.literal_eval(skills)
  df.Skills[row] = list(set(li))
  row+=1

In [86]:
df.head()

               Name                                  Skills
0    Maurice Valdez  [numpy, reactjs, django, html, nodejs]
1      Samuel Green                          [laravel, css]
2   Michael Rodgers           [reactjs, nodejs, flask, css]
3     Lindsey Leach                 [reactjs, html, nodejs]
4  Kimberly Hartman                      [nosql, matpotlib]

In [87]:
dev_type =[]
n_skills = []
for skill in df.Skills:
  n_skills.append(len(skill))
  ml_skill = 0
  webd_skill = 0
  if len(skill) < 3:
    dev_type.append('Not Eligible')
    continue
  else:
    for sk in skill:
      if sk in machine_learning_skills:
        ml_skill += 1
      elif sk in web_devloper_skills:
        webd_skill += 1
  if ml_skill >= 3:
    dev_type.append('ML Developer')
  elif webd_skill >= 3:
    dev_type.append('Web Developer')
  else:
    dev_type.append('Not Eligible')

In [88]:
df['Designation'] = dev_type
df['No_of_Skills'] = n_skills

In [91]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 50 entries, 0 to 49
Data columns (total 4 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   Name          50 non-null     object
 1   Skills        50 non-null     object
 2   Designation   50 non-null     object
 3   No_of_Skills  50 non-null     int64
dtypes: int64(1), object(3)
memory usage: 1.7+ KB

In [93]:
df.to_excel('updated_skill_data.xlsx',index=False)
print('DataFrame is written to Excel File successfully.')

DataFrame is written to Excel File successfully.